/*------------------------------------*\
    #ADMIN AREA
\*------------------------------------*/

.admin {
    height: 100%;
    display: flex;
}

    .admin__bar {
        flex: 1;
        max-width: 80px;
        background-color: #fff;
        z-index: 100;
    }

    .admin__site {
        flex: 1;
        position: relative;
        height: 1px;
        min-height: 100%;
        overflow: scroll;
    }

.editable {
    display: block;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}
    .editable__input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        font-weight: inherit;
        font-family: inherit;
        font-size: inherit;
        padding: inherit;
        color: red;
    }
